.container {
    text-align: center;
}

h2 {
    margin-top: 45px;
    font-size: 3rem;
}

.input-data {
    margin-top: 45px;
    font-size: 1.15rem;
}

.form-control {
    width: 8rem;
    margin: auto;
    font-weight: 600;
    text-align: center;
}

.start {
    margin-top: 25px;
}

#alertText {
    margin: 10px 0;
    font-size: 1.15rem;
    font-weight: 500;
}

.game-card {
    height: 55vh;
    font-family: 'Open Sans', monospace;
}

.alert-info {
    margin-top: 45px;
}

.card-header {
    background-color: #336662;
    color: #fff;
}

.card-footer {
    margin: 0;
    padding: 0;
}

.card-body {
background: #e8e8e8;
}

.card-title {
    font-size: 1.5rem;
}

.btn-link {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    background: #a60000;
    height: 100%;
    width: 100%;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 0;
}

.btn-link:hover {
    background: #ff0000;
    color: #fff;
    text-decoration: none;
}    